<div class="app">
  <h1 class="app__header">
    The toggle switch is currently
    <span style="color: salmon">
      {{ toggleOn ? 'on' : 'off' }}
    </span>.
  </h1>
  <app-toggle class="app__toggle"
    text="Click me!"
    textPosition="right"
    [model]="toggleOn"
    [disabled]="toggleDisabled"
    (changeAction)="onToggleChange($event)"
    >
  </app-toggle>

  <hr>

  <app-fa-input
    icon="trash-o"
    >
    <input class="text"
      appInputRef
      type="text"
      placeholder="rubbish"
    />
  </app-fa-input>
</div>
